* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #45a29e;
    color: #c5c6c7;
}

header {
    padding-top: 80px;
    padding-bottom: 1rem;
}

/* .header-hero {
    width: 100%;
    height: 500px;
    object-fit: cover; */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #100c08;
    padding: 30px;
}

nav ul {
    display: flex;
    gap: 30px;
    /* background-color: #100c08; */
    color: #100c08;
    align-items: centerw;
}

nav ul li {
    /* margin: 0 15px; */
    list-style: none;
    /* padding-top: ; */
}

h1,
h2 {
    color: #c5c6c7;
    /* background-color: #1f2833; */
    padding: 30px 80px;
}

nav {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

section {
    /* padding-top: 150px; */
    background-image: url("images/70s-pexels-leonie-fahjen-20345-92866.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* opacity: 0.8; */
}

h2 {
    align-self: flex-end;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.container {
    display: flex;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* flex: 1, 0, 50px; */
}

aside {
    background-color: #1f2833;
    color: #45a29e;
    width: 30%;
    padding: 2rem;
    margin-right: 1rem;
    justify-content: right;

    /* flex-basis: 0, 0, auto; */
}
.main-pic {
    width: 80%;
    object-fit: cover;
    padding: 60px;
    opacity: 0.8;
}
main > p {
    padding: 3rem;
}

li > a {
    text-decoration: none;
    color: #1f2833;
}
